html,
body {
  margin: 0;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-szie: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
  text-shadow: 0px 0px 20px #aaaaaa;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
/* 
#author {
} */

/* *{border: solid 2px red;} */

main {
  height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}

.Cryp-Weath {
  display: flex;
  justify-content: space-between;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#time {
  display: flex;
  justify-content: center;
}

.bitcoin-contain {
  display: flex;

  align-items: center;
  gap: 5px;
}

.bitcoin-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#Crypto {
  text-shadow: 0px 0px 20px #aaaaaa;
  font-size: 1.3rem;
}

/* #Weather *{

    border: 2px solid black;
} */

#Weather {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.weather-temp {
  font-size: 2rem;
}

.weather-city {
  align-self: flex-end;
}

#Weather p {
  margin: 0;
}

#degree {
  display: flex;
  align-items: center;
  max-height: 50px;
}

#innerweather {
}

#Weather p {
  margin: 0;
}

/* 
ul li{

list-style: none;
margin: 0;

} */

.bitcoin-details p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time {
  font-size: 400%;
  font-weight: lighter;
}

#degree > image {
  width: 70px;
}

@media (max-width: 700px) {
  #time {
    font-size: 200%;
    font-weight: lighter;
  }
}

@media (max-width: 1000px) {
  #time {
    font-size: 450%;
    font-weight: lighter;
  }
}

h1,
h2 {
  margin: 5px;
}

p {
  font-size: 1.3rem;
}
