html,body{

    margin: 0;
    padding: 0;


}

body{


    background: no-repeat center center fixed;
    -webkit-background-szie: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;

    color: white;
    text-shadow: 0px 0px 20px #aaaaaa;
    font-family: Arial, Helvetica, sans-serif;




}

*{

box-sizing: border-box;

}

#author{


}

/* *{border: solid 2px red;} */



main{

height: 100vh;
padding: 15px;
display: flex;
justify-content: center;
flex-direction: column;
justify-content: space-between;





}

.Cryp-Weath{


    display: flex;
    justify-content: space-between;





}

.middle-container{

  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time{

display: flex;
justify-content: center;




}

.bitcoin-contain{

    display: flex;
   
    align-items: center;
    gap: 5px;
    


}


.bitcoin-container{


   
    display: flex;
    flex-direction: column;
    gap: 5px;
    
      




}

#Crypto{

text-shadow: 0px 0px 20px #aaaaaa;
font-size: 1.3rem;


}
/* 
ul li{

list-style: none;
margin: 0;

} */

.bitcoin-details p{

margin:0;
display: flex;
justify-content: center;
align-items: center;


}


#time{

    font-size: 60px;
    font-weight: 400


}




h1,h2{

    margin: 5px;

}
